---
layout: archive
title: Education
categories: Teaching
permalink: /teaching/
author_profile: false
---

Avogadro is intended not only for molecular modeling research, but also for educational use.

This category is intended to help educators around the world find lessons and tips for using Avogadro in teaching chemistry.

If you have an exercise or article that you would like to list here, please contact [avogadro-devel@lists.sourceforge.net]

{% for post in site.teaching %}
  {% include archive-single.html %}
{% endfor %}

