# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

# Site Settings
locale                   : "en-US"
title                    : "Avogadro"
title_separator          : "-"
name                     : "Avogadro Chemistry"
description              : "Avogadro - the advanced molecular editor and visualizer"
theme                    : "minimal-mistakes-jekyll"
url                      : "https://avogadro.org" # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : "avogadro/Avogadro.github.io" # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
breadcrumbs              : false # true, false (default)
words_per_minute         : 200
masthead                 : "/images/AvogadroMast.png"
comments:
  provider               : discourse # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"
  discourse:
    server               : discuss.avogadro.cc # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
atom_feed:
  path                   : # blank (default) uses feed.xml

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

owner:
  name: Avogadro
  twitter: AvogadroChem
  github: avogadro
  avatar: logo.png
  email: avogadro-devel@lists.sourceforge.net


# Social Sharing
twitter:
  username               : AvogadroChem
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links:                   # An array of links to social media profiles

# Analytics
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          :


# Default Author
author:
  name             : "The Avogadro Team"
  avatar           : "/images/avogadro.svg" # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  bio              : "We Like Chemistry."
  location         : "Pittsburgh"
  email            : "avogadro-devel@lists.sourceforge.net"
  uri              : "http://avogadro.cc/"
  facebook         :
  github           : avogadro
  google_plus      :
  twitter          : AvogadroChem
  vine             :
  youtube          : # YouTubeChannel

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /:num/
timezone: America/New_York # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
gems:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-archives

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: jekyll-archives
  path: /
tag_archive:
  type: jekyll-archives
  path: /tags/
# https://github.com/jekyll/jekyll-archives
jekyll-archives:
   enabled:
     - categories
     - tags
   layouts:
     category: archive-taxonomy
     tag: archive-taxonomy
   permalinks:
     category: /:name/
     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections / Categories
collections:
  releases:
    output: true
    permalink: /:collection/:path/
  devel:
    output: true
    permalink: /:collection/:path/
  docs:
    output: true
    permalink: /:collection/:path/
  rendering:
    output: true
    permalink: /:collection/:path/
  teaching:
    output: true
    permalink: /:collection/:path/
  install:
    output: true
    permalink: /:collection/:path/
  tools:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  # everything
  - scope:
      path: ""
    values:
      layout: single
      comments: false
      share: true
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      author_profile: true
      read_time: false
      related: false
      comments: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      author_profile: false
      related: true
  - scope:
      path: ""
      type: docs
    values:
      share: true
      comments: false
      author_profile: false
      sidebar:
        nav: docs

latest:
   version: "1.2.0"
   changelog: /releases/avogadro_120
   date: "15 June, 2016"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - .DS_Store
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - _docs/LICENSE.md
  - _docs/README.md
  - _docs/SUMMARY.md
  - _docs/book.json
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
