        <ul>
          {% for node in site.pages %}
            {% if node.url != page.url %}
              {% for pc in node.categories %}
                {% if pc == page.categories %}
                  {% if node.image %}
                    <li><a href="{{ site.url }}{{ node.url }}"><img src="{{ node.image }}">&nbsp;{{ node.title }}</a></li>
                  {% else %}
                    <li><a href="{{ site.url }}{{ node.url }}">{{ node.title }}</a></li>
                  {% endif %} <!-- node.image -->
                {% endif %}   <!-- cat-match-p -->
              {% endfor %}  <!-- page-category -->
            {% endif %}
          {% endfor %} <!-- page -->
        </ul>
